.contenedor {
    height: 815px;
}

.carousel-item img {
    object-fit: cover; /* Asegura que las imágenes llenen el espacio sin distorsionarse */
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente según la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}